.kiri {
	position: fixed;
	top: 125px;left: 2.5%;
	width: 25%;
}
.kiri .listWizard {
	line-height: 60px;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-family: OLight;
	cursor: pointer;
}

.kiri div[aktif=ya] {
	background-color: #cb0023;
	color: #fff;
	font-family: OBold;
}
.form {
	position: absolute;
	top: 125px;right: 2.5%;
	left: 30%;
}
.form .box {
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 0px;
	font-size: 16px;
	height: 60px;
	width: 100%;
}
.isi {
	font-size: 15px;
	font-family: OLight;
	margin: 17px 0px 6px 0px;
}
.form .box:focus { border-bottom: 1px solid #cb0023; }
#description { height: 120px; }
.bagForm {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 29px;
}
.bagForm h4 {
	color: #cb0023;
}

.bagForm .ket {
	font-size: 12px;
	font-family: OLight;
}
.bagForm label {
	font-family: OLight;
}
.bagForm #icon {
	background-color: #cb0023;
	color: #fff;
	width: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	border-radius: 90px;
	margin-right: 15px;
}

#eventImages,#contactInformation,#location,#eventDetail,#pricePromotion {
	display: none;
}

.bege {
	position: fixed;
	top: 0px;left: 0px;right: 0px;bottom: 0px;
	background: rgba(0,0,0,0.4);
	z-index: 5;
	display: none;
}
.notif {
	display: none;
	position: fixed;
	top: 170px;left: 30%;right: 30%;
	z-index: 5;
	background-color: #fff;
}
.notif h3 {
	margin: 0;
	line-height: 50px;
	margin-bottom: 22px;
}
.notif {
	font-size: 20px;
	font-family: OLight;
	line-height: 38px;
}

